@import "bootstrap-sprockets";
@import "bootstrap";


html {
    // background: url(image_path("dirt.jpg")) no-repeat center fixed;
  background: url(image_path("https://farm9.staticflickr.com/8535/8710875491_a03f76aeec.jpg")) no-repeat center center fixed;
  background-size: 100% 100%;
  min-height: 100%;
}

body {
  background-color: transparent;
}

.whiteout {
  margin-top: 10em;
  background-color: #ffffff;
  padding-bottom: 2em;
  width: 100%;
}

.center {
  text-align: center;
}

.notice {
  color: #d76662;
  font-size: 1.4em;
  font-family: "helvetica";
  margin-top: 1em;
}

small {
  color: #df8581;
  font-size: .7em;
}

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*front-page~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
.icons-wrapper {
  background-color: #ede9e9;
  padding-top: 2em;
  padding-bottom: 8em;
}

.icons-n-links {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 7em;
  margin: 0 auto;
  width: 100%;
}

.icons-n-links a {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #000000;
}

.icons-n-links a:hover {
  text-decoration: none;
}

.icons-n-links img {
  width: 7em;
}

.front-wrapper {
  background-color: #14ffc0;
  padding-bottom: 2em;
}

.shovel {

}

.sow {


}

.events {

}

.news {

}
// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*SIGN UP & SIGN-IN~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*

.yellow-text, .yellow-text-2 {
  font-family: "helvetica";
  margin-top: 0;
  text-align: center;
  font-size: 1.5em;
  color: #54a79c;
  text-shadow: 1px 1px #d8cece;
}

.signup-signin, .signup-signin-2 {
  background-color: #ffffff;
  width: 100%;
  padding: 0em;
  margin: 0;
  border-radius: 1em;
  border-color: #bec0ba;
  font-size: .9em;
}

.signup-signin input, .signup-signin-2 input {
  width: 10em;
}

.top-right {
  float: right;
}

.form {
  padding: .5em;
  width: 100%;
  margin: .5em;
  text-align: center;
}

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*sign-in bar~*~*~*~*~*~*~*~*~*~*~*~*~*~*

.top-bar {
  background-color: #747474;
  padding: 1em;
}

.top-bar a:link, .top-bar a:visited, .top-bar a:hover, .top-bar a:active {
  color: #becaba;
  font-size: 1.2em;
}
// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*FORMS~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*

.form2 {
  padding: 1em;
  margin: 1em;
}

.form2 input, .form2 textarea {
  width: 25em;
}

.form2 textarea {
  height: 10em;
}

.form2 input[type='checkbox'] {
  width: 2em;
}

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*MY ACCOUNT PAGE~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*

#my-account {
  margin: 1em;
  padding: .5em;
}

.list {
  list-style-type: none;
}

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*CALENDAR~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*

.wrap-calendar {
  width: 70%;
  padding-top: 2em;
  margin-left: 13%;
}

#calendar {
  padding: 2em;
  margin: 1em;
  width: 100%;
}

#calendar th {
  padding: 1em;
}

#calendar tr {
  margin: 1em;
  padding: 1em;
}

#calendar td {
  padding: 1em;
}

#calendar .day {
  font-size: 1.2em;
}

#calendar .date-number {
  text-align: center;
}

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*EVENTS*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
.rsvp {
  float: right;
}
// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*SHARED~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
.calendar-month, .tools {
  text-align: center;
  font-size: 3em;
  font-family: "Helvetica";
  color: #7fdcd5;
  text-shadow: 1px 1px #000000;
}

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*TOOLS~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~

.tools-list {
  text-align: center;
}

.tools-list li {
  font-size: 1.5em;
}
