@import "bootstrap-sprockets";
@import "bootstrap";


html {
    // background: url(image_path("dirt.jpg")) no-repeat center fixed;
    background: url(image_path("dirt.jpg")) no-repeat center center fixed;
    background-size: 100% 100%;
    min-height: 100%;
}

body {
  background-color: transparent;
}

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*SIGN UP & SIGN-IN~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
.yellow-text {
  font-family: "helvetica";
  margin-top: 0;
  margin-left: .5em;
  color: #f8f006;
  text-shadow: 2px 2px #574f4f;
}

#signup {
  background-color: #ffffff;
  width: 20%;
  padding: 1em;
  margin: 0;
  border-radius: 1.2em;
}

.whiteout {
  margin-top: 1em;
  background-color: #ffffff;
}

.form {
  padding: 1em;
}
